.pokemon__items {
  margin: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
  justify-items: stretch;
}

.pokemon__item {
  align-items: center;
  max-width: 100%;
  box-shadow: 0 0 7px 2px var(--shadow);
  transition: 0.3s;
  cursor: pointer;
}

.pokemon__item:hover {
  background-color: var(--hoverpokemon);
}

.pokemon__item-img {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 1rem;
  image-rendering: pixelated;
  border-top-right-radius: 1rem;
}

.pokemon__item-name {
  margin: 0;
  padding: 12px;
  text-align: center;
  background: var(--light-gray);
  color: var(--light-black);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.comparison-pokemon {
  position: fixed;
  background: var(--white);
  border-style: solid;
  border-color: var(--light-black);
  border-radius: 1rem;
  top: 9%;
  right: 1rem;
}

.comparison-name {
  font-weight: 500;
  font-size: 0.8rem;
  padding: 1rem 2rem;
}
@media screen and (min-width: 576px) and (max-width: 900px) {
  .pokemon__items {
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}
@media screen and (max-width: 576px) {
  .pokemon__items {
    padding: 0;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .pokemon__item-img {
    width: 170px;
  }
}
