.bug {
  background: var(--bug);
}

.dark {
  background: var(--dark);
}

.dragon {
  background: var(--dragon);
}

.electric {
  background: var(--electric);
}

.fairy {
  background: var(--fairy);
}

.fighting {
  background: var(--fighting);
}

.fire {
  background: var(--fire);
}

.flying {
  background: var(--flying);
}

.ghost {
  background: var(--ghost);
}

.grass {
  background: var(--grass);
}

.ground {
  background: var(--ground);
}

.ice {
  background: var(--ice);
}

.normal {
  background: var(--normal);
}

.poison {
  background: var(--poison);
}

.psychic {
  background: var(--psychic);
}

.rock {
  background: var(--rock);
}

.steel {
  background: var(--steel);
}

.water {
  background: var(--water);
}

.unknown {
  background: var(--unknown);
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--shadow-bg);
  cursor: pointer;
  z-index: 10;
  overflow: auto;
}

.card-modal {
  width: 90%;
  max-width: 700px;
  margin: 5rem auto;
  padding-bottom: 20px;
  background: var(--white);
  border-radius: 1rem;
  cursor: auto;
}

.pokemon-card__title {
  display: flex;
  padding-top: 1rem;
}

.pokemon-card__compare {
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
  margin-left: 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  background: var(--navbar);
  color: var(--white);
}

.pokemon-card__compare:hover,
.pokemon-card__compare:active {
  background: var(--card-color);
  color: var(--navbar);
}

.pokemon-card__close {
  margin-left: auto;
  margin-right: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--navbar);
  border-style: solid;
  border-width: 1px;
  border-color: var(--navbar);
}

.pokemon-container {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 1rem;
}

.image-container {
  width: 12rem;
  image-rendering: pixelated;
}

.pokemon-img {
  width: 100%;
}

.pokemon-name {
  margin-top: 2em;
  color: var(--black);
  text-align: center;
}

.pokemon-description {
  margin: 0.5rem 2.5rem;
  text-align: center;
  color: var(--light-black);
}

.pokemon-types {
  list-style: none;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
}

.pokemon-type {
  display: inline-block;
  margin: 0 0.9rem;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--white);
  border-radius: 5px;
  color: var(--white);
}

.information-container {
  display: flex;
  width: 80%;
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.information-container__item {
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.information-container__item-value,
.information-container__item-name {
  font-size: 1rem;
  color: var(--light-black);
  font-weight: 500;
  margin: 0.5rem;
}

.information-container__item-value {
  color: var(--black);
}

.pokemon-container__title {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-container__title-img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5em;
}

.pokemon-container__title-text {
  color: var(--gray);
  margin: 0;
  text-transform: uppercase;
}

.abilities-list {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 1em;
}

.abilities-item {
  margin: 0.5em;
}

.pokemon-text {
  margin: 0;
  color: var(--card-color);
}
